* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}

#myLogo {
  margin: 20px;
  margin-bottom: 0;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table {
  display: table;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  ul#menu {
    visibility: collapse;
  }

  .table {
    visibility: collapse;
  }
}

ul#menu li {
  font-size: 11 px;
  background-color: #c4c4c4;
  padding: 7px;
  margin: 2px;
  color: white;
  display: inline;
  border-radius: 25px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
  top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('https://res.cloudinary.com/edonovanto/image/upload/v1592273651/loading_vqgcwd.gif') center no-repeat #fff;
}
